<!doctype html>
<html lang="fr">
  
  <head>
      
      <link rel=""shortcut icon" href="images/favicon.ico" type="image/x-icon" />
      
      <link rel="stylesheet" href="/static/style.css" />
      
      <meta charset="utf-8" />
    
    
    <title>Gallery</title>
  </head>

  <body>
   

    <h1>Galerie</h1>

    <h1>Cliquez sur une image pour créer une histoire !</h1>
    <div class = "gallery">
      {% for url in urls %}
        <div class = "item-gallery">
          <a href="{{url_for('story', image_url = url)}}">
            <img src="../{{ url }}" alt=""/>
          </a>
        </div>
      {% endfor %}
    </div>



    <ul>    
      <li><a href="{{url_for('index')}}">Home</a>
          <a href="{{url_for('projects')}}">Projects</a>
        <br>
          <a href="https://ollama.com/download"
         title="Lien de téléchargement de ollama"
         target="_blank">Télécharger OLLAMA</a></li>
    </ul>
  </body>
</html>